/* shared Style  */
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  max-width: 1920px;
}
main{
  
  padding: 0 240px;
}

.text-pink {
  color: #ff42a5;
}
.primary-button {
  padding: 21px 40px;
  border-radius: 48px;
  border: 0;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  color: white;
  font-size: 20px;
  font-weight: 600;
}
/* shared style ends here  */

/* nav section starts here  */
.nav-container {
  display: flex;
  gap: 680px;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-section img {
  width: 100%;
  height: 100%;
}
.logo-section h2 {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 20px;
}

.menu-items {
  display: flex;
  gap: 30px;
}
.menu-items ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-container li {
  list-style: none;
}
.nav-container li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
.follow-icon {
  max-width: 260px;
  padding: 18px;
  text-align: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.follow-icon p {
  margin: 0;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.follow-icon span {
  width: 100%;
  margin-left: 20px;
  width: 25px;
}
/* nav section ends here  */

/* banner section starts here  */
.banner-container {
  display: flex;
  gap: 68px;
}
.banner-content {
  width: 47%;
  background-image: url(../images/Group\ 14.png);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  color: #0b0223;
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-text {
  font-size: 95px;
  font-weight: 800;

  margin: 0;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-subtitle {
  margin: 24px 0 41px 0;
  font-size: 20px;
  color: #534c64;
  font-weight: 500;
}
.banner-subtitle p {
  display: flex;
  align-items: center;
}
.banner-subtitle p span {
  margin-right: 10px;
}



#go-rogue-button {
background: #4EC5F7;
margin-left: 20px;
}

/* banner section ends here  */

/* gamer section starts here  */

.gamer-section{
  display: flex;
  gap: 50px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  justify-content: center;
  align-items: center;
}
.gamer-image{
  width: 60.5%;
  margin: 50px 0;
}
.gamer-image img{
  width: 100%;
}
.gamer-content{
  width: calc(39.5% - 50px);
  text-align: right;
  
  


}
.gamer-title{
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-description{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  margin: 0;
  margin-bottom: 30px;
  
line-height: 30px
}
.sub-text{
  color: #534C64;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-top: 24px;
}
.coated-text{
  color: #534C64;
  font-size: 32px;
  font-weight: 700;
}
/* gamer section ends here  */



/* Responsive design For Mobile screen styles  */

@media screen and (max-width: 576px) {
main{
  padding: 0 30px;
}

  /* nav starts here  */
  .nav-container {
    flex-direction: column;
    gap: 18px;
    
    box-shadow: none;
    
  }
  .logo-section {
    margin-top: 20px;justify-content: center;
  }
  .logo-section img{
    width: 30%;
  }
  .logo-section h2 {
    margin: 0;
    font-size: 20px;

    margin-left: 5px;
  }
  .menu-items ul {
    margin: 0px;
    padding: 0;
    flex-direction: column;
    gap: 10px;
  }
  .menu-items {
    flex-direction: column;
  }
  .nav-container li a {
    font-size: 10px;
  }
  .follow-icon {
    padding: 8px;
  }
  .follow-icon p {
    font-size: 11px;
  }
  .follow-icon span {
    margin-left: 10px;
  }
  /* nav ends here  */
/* banner section starts here  */
.banner-container {
  flex-direction: column-reverse;align-items: center;
  gap: 40px;
}
.banner-images{
  width: 70%;
}
.banner-images img{
  width: 100%;
}

.banner-content {
  width: 85%;
  
}
.banner-title{
  font-size:24px ;
}
.goat-text{
  font-size:48px ;
}
.banner-subtitle{
  font-size: 9px;
  margin: 3px 0 6px 0;
}
.banner-subtitle p{
  margin: 0;
}

#sign-in-button , #go-rogue-button{
  font-size: 12px;
  padding: 10px 17px;
  margin-left: 0px;
}
}
/* gamer section starts here  */

.gamer-section{
  flex-direction: column;
  background: white;
  text-align: center;
  gap: 30px;
}
.gamer-image{
  width: 100%;
  margin: 0px;
  margin-top: 20px;
}

.gamer-content{
  width: 65%;
  text-align: center;
}
.gamer-title{
  font-size: 22px;
}

.gamer-description{
  font-size: 10px;
  text-align: center;
  line-height: normal;
  margin-bottom: 15px;
}
#know-more-button{
  font-size: 12px;
  padding: 10px 20px;
}
.sub-text{
  font-size: 12px;
}
.coated-text{
  font-size: 14px;
}





/* responsive design for tablet  */
@media screen and (min-width: 576px) and (max-width: 769px) {
  /* nav starts here  */
  .nav-container {
    gap: 50px;
  }
  .logo-section img {
    width: 60%;
  }
  .logo-section h2 {
    font-size: 32px;
  }

  .menu-items ul {
    gap: 20px;
  }
  .menu-items li a,
  .follow-icon p {
    font-size: 16px;
  }

  .follow-icon span {
    margin-left: 10px;
  }
  /* nav ends here  */
}
