/* shared Style  */
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 16px;
}
body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

.text-pink {
  color: #ff42a5;
}
.primary-button {
  padding: 1.3rem 2.5rem;
  border-radius: 3rem;
  border: 0;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
/* shared style ends here  */

/* nav section starts here  */
.nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-section img {
  width: 100%;
  height: 100%;
}
.logo-section h2 {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 1.3rem;
}

.menu-items {
  display: flex;
  gap: 1.9rem;
}
.menu-items ul {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}
.nav-container li {
  list-style: none;
}
.nav-container li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
.follow-icon {
  max-width: 16.25rem;
  padding: 1.1rem;
  text-align: center;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
}
.follow-icon p {
  margin: 0;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
.follow-icon span {
  width: 100%;
  margin-left: 1.25rem;
  width: 1.5rem;
}
/* nav section ends here  */

/* banner section starts here  */
.banner-container {
  display: flex;
  justify-content: space-between;
}
.banner-content {
  width: 39%;
  background-image: url(../images/Group\ 14.png);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  color: #0b0223;
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-text {
  font-size: 6rem;
  font-weight: 800;

  margin: 0;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-subtitle {
  margin: 1.5rem 0 1.26rem 0;
  font-size: 1.25rem;
  color: #534c64;
  font-weight: 500;
}
.banner-subtitle p {
  display: flex;
  align-items: center;
}
.banner-subtitle p span {
  margin-right: 0.6rem;
}

#go-rogue-button {
  background: #4ec5f7;
  margin-left: 1.25rem;
}
.banner-images {
  width: 40%;
}
.banner-images img {
  width: 100%;
}

/* banner section ends here  */

/* gamer section starts here  */

.gamer-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 3.2rem;

  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  justify-content: space-between;
  align-items: center;
}
.gamer-image {
  width: 58%;
  margin: 0;
}
.gamer-image img {
  width: 100%;
}
.gamer-content {
  width: 42%;
  text-align: right;
}
.gamer-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1.5rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-description {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: right;
  margin: 0;
  margin-bottom: 1.9rem;

  line-height: 1.9rem;
}
.sub-text {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-top: 1.5rem;
}
.coated-text {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 700;
}
/* gamer section ends here  */

/* videos cart section starts here  */
.card-section {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 3rem;
  box-sizing: border-box;
}
.card-section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
  text-align: center;
  margin: 0;
  margin-top: 7.5rem;
}
.text-purple {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-section-subtitle {
  color: #534c64;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.6rem;
  margin-bottom: 3.1rem;
}
.card-container {
  width: 100%;

  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.card {
  width: calc(25% - 1.567%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}

.card-image {
  position: relative;
  width: 100%;
  object-fit: cover;
}
.card-image img {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}
.card-description {
  margin: 0;
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 500;
}

/* hover card  */
.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 16px;
  border: 4px solid var(--Linear, #ff42a5);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  font-weight: 500;
  color: #ff42a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-image:hover .hover-content {
  opacity: 1;
}

/* videos cart section ends here  */

/* play cart section starts here  */
.play-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 7.5rem;
  display: flex;
  justify-content: right;
  gap: 15%;
  align-items: center;
  box-sizing: border-box;
}
.play-content {
  width: 32%;
  margin: auto 0;
}
.play-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  margin: 1.5rem 0;

  line-height: 3.5rem; /* 125% */
}

.play-subtitle {
  color: #534c64;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem; /* 166.667% */
}

.play-image-container {
  width: 40%;
}
.play-image {
  align-items: start;
  position: relative;
}
.big-image {
  max-width: 100%;
}

.play-sub-image {
  max-width: 50%;
  position: absolute;
  top: 60%;
  left: -25%;
}

/* play cart section ends here  */

/* careers  section starts here  */
.careers-section {
  margin-top: 9rem;
  display: flex;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}
.careers-content {
  width: 34%;
  overflow: hidden;
  padding: 7.5rem 0;
  padding-left: 10%;
}
.careers-content h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 3.5rem; /* 125% */
}
.careers-content p {
  color: #fff;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem; /* 166.667% */
}
.careers-topics {
  display: flex;
  justify-content: start;
  gap: 2rem;
}
.careers-topics ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.careers-topics ul li {
  color: #fff;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.5rem; /* 200% */
}

.career-image {
  width: 56%;
}

.career-image img {
  width: 100%;
  height: 100%;
}
.career-button {
  padding: 1.25rem 2.5rem;
  border-radius: 48px;
  border: 0;
  margin-top: 2.5rem;
  color: #ff42a5;
  background: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
/* careers section ends here  */

/* games type card section starts here  */
.game-type-section {
  padding: 7.5rem 10%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.games-card-upper,
.games-card-lower {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
}
.games-card-upper {
  margin-bottom: 20px;
}

.games-card {
  border-radius: 50px;
  display: flex;
  gap: 0.3rem;
  border: 0;
  align-items: center;
  justify-content: start;
  background: #fff#00fc26;
  padding: 10px;
}
.games-card:hover {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-card img {
  padding: 0 0.1rem;
}
.games-card p {
  color: #0b0223;
  padding-right: 10px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* gmaes type card section ends here  */

/* footer section starts here   */
.footer-section {
  background: #0b0223;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 7.5rem 0;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.footer-container .logo-section img {
  width: 100px;
}
.footer-subtitle {
  padding-top: 3rem;
  display: flex;
  gap: 3.7rem;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.social-media {
  padding-top: 3rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.footer-terms {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  padding-top: 3.8rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.footer-terms p,
.footer-subtitle p{
  margin: 0px;
}
.copywrite {
  padding-top: 1.8rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
 margin: 0px;
  font-weight: 500;
}

/* footer section ends here   */

/* Responsive design For Mobile screen styles========================================================  */

@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }

  /* nav starts here  */
  .nav-container {
    flex-direction: column;
    gap: 18px;
    box-shadow: none;
  }
  .logo-section {
    margin-top: 20px;
    justify-content: center;
  }
  .logo-section img {
    width: 30%;
  }
  .logo-section h2 {
    margin: 0;
    font-size: 20px;

    margin-left: 5px;
  }
  .menu-items ul {
    margin: 0px;
    padding: 0;
    flex-direction: column;
    gap: 10px;
  }
  .menu-items {
    flex-direction: column;
  }
  .nav-container li a {
    font-size: 10px;
  }
  .follow-icon {
    padding: 8px;
  }
  .follow-icon p {
    font-size: 11px;
  }
  .follow-icon span {
    margin-left: 10px;
  }
  /* nav ends here  */
  /* banner section starts here  */
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .banner-images {
    width: 70%;
  }
  .banner-images img {
    width: 100%;
  }

  .banner-content {
    width: 85%;
  }
  .banner-title {
    font-size: 24px;
  }
  .goat-text {
    font-size: 48px;
  }
  .banner-subtitle {
    font-size: 9px;
    margin: 3px 0 6px 0;
  }
  .banner-subtitle p {
    margin: 0;
  }

  #sign-in-button,
  #go-rogue-button {
    font-size: 12px;
    padding: 10px 17px;
    margin-left: 0px;
  }

  /* gamer section starts here  */

  .gamer-section {
    flex-direction: column;
    background: white;
    text-align: center;
    gap: 30px;
  }
  .gamer-image {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
  }

  .gamer-content {
    width: 65%;
    text-align: center;
  }
  .gamer-title {
    font-size: 22px;
  }

  .gamer-description {
    font-size: 10px;
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;
  }
  #know-more-button {
    font-size: 12px;
    padding: 10px 20px;
  }
  .sub-text {
    font-size: 12px;
  }
  .coated-text {
    font-size: 11px;
  }
  /* videos cart section starts here  */
  .card-section-title {
    font-size: 17px;
    margin: 0;
    margin-top: 60px;
  }

  .card-section-subtitle {
    font-size: 7px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .card-container {
    flex-direction: column;
    gap: 19px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }

  .card-image {
    position: relative;
    width: 200px;
    height: 190px;
    overflow: hidden;
  }
  .card-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .card-description {
    margin: 0;
    font-size: 7px;
  }
  .hover-content {
    border-radius: 0;
  }

  /* play cart section starts here  */
  .play-section {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid lime;
    box-sizing: border-box;
  }
  .play-content {
    width: 100%;
    margin: auto 0;
  }
  .play-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    margin: 1.5rem 0;

    line-height: 3.5rem; /* 125% */
  }

  .play-subtitle {
    color: #534c64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem; /* 166.667% */
  }

  .play-image-container {
    width: 100%;
  }
  .play-image {
    align-items: start;
    position: relative;
  }
  .big-image {
    max-width: 100%;
  }

  .play-sub-image {
    max-width: 50%;
    position: absolute;
    top: 60%;
    left: -25%;
  }
}

/* responsive design for tablet  */
@media screen and (min-width: 576px) and (max-width: 769px) {
  /* nav starts here  */
  .nav-container {
    gap: 50px;
  }
  .logo-section img {
    width: 60%;
  }
  .logo-section h2 {
    font-size: 32px;
  }

  .menu-items ul {
    gap: 20px;
  }
  .menu-items li a,
  .follow-icon p {
    font-size: 16px;
  }

  .follow-icon span {
    margin-left: 10px;
  }
  /* nav ends here  */
}
